<div id="tabaccountsecret" class="screentab" data-title="Secret" data-hasback="true" style="display:none">
        <label>Account Public Address</label>
	<center>
    <div class="input-group">
        <span class="input-group-btn">
                    <button type="button" class="btn xrbtn" ontouchstart="ts(event)" ontouchend="te(event, ()=>{xrbtn_press(event)})"><i class="fa fa-redo-alt" aria-hidden="true"></i><span class="addrtype">r</span>
                    </button>
                </span>
    <input data-dispaddr="true" ontouchend="te(event, quickSelectInput)" type="text" data-dispaddr="true" id="accdetailssecretaddress" class="form-control" readonly="readonly" style="color:black">
    </div>
	</center>
    <br>
    <div id="divrsecaccpassword">
        <label id="lblacpassword">Passphrase</label>
        <span class="pasteqr">
    		<button class="btn btn-default " ontouchstart="ts(event)" type="button" ontouchend="te(event, ()=>{clipboardPaste(function(content){doRevealRippleSecret(content, $('#accdetailssecretaddress').val())})})"><i class="fa fa-paste"></i></button>
	    	<button class="btn btn-default " ontouchstart="ts(event)" ontouchend="te(event, ()=>{scanQR((content, after) => {doRevealRippleSecret(content, $('#accdetailssecretaddress').val())})})" type="button"><i class="fa fa-camera"></i></button>
            <button class="btn btn-default" id="rsecaccpasswordeyebtn" ontouchend="te(event, ()=>{toggleShowPassField('#rsecaccpassword', '#rsecaccpasswordeyebtn')})" type="button" onclick="ts(event)"><i class="fa fa-eye"></i></button>
        </span>
        <input ontouchend="te(event, quickSelectInput)"  id="rsecaccpassword" type="password" class="form-control" placeholder="">
    </div>
    <br>
	<center>
		<div><button  type="button" class="btn btn-primary btnbig" id="btnrevealsecret" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doRevealRippleSecret($('#rsecaccpassword').val(), $('#accdetailssecretaddress').data('content'));})">Reveal Secret</button></div>
	</center>
	<center>
		<label id="lblaccsecret">Account Secret</label>
		<input ontouchend="te(event, quickSelectInput)" type="text" id="accsecret" style="color:blue" oninput="$(this).val($(this).data('content'));" >
	</center>
	<button  style="display:none;" type="button" id="btncopysecret" class="btn copybtn copybtnaction" data-clipboard-target="#accsecret" ontouchstart="ts(event)" ontouchend="te(event, ()=>{clipboardCopy($('#accsecret').val())})"><i class="far fa-copy" aria-hidden="true"></i></button>
	<br>
	<br>
	<center><div id="accsecretqr"></div></center>
</div>
