<div id="tabbackupreminder" class="screentab" data-primarytab="true" data-hasback="false" data-dark="true" data-noright="true" data-title="Backup Reminder">
   <center>
    <h1>Your recovery phrase is NOT a backup</h1>
<p style="text-align:center;">Your recovery phrase is a second passphrase. It is not a wallet backup.</p><br>
<p style="text-align:center;">You need to create a backup when you add a new address to your wallet or if you've never made one before.</p><br>
<p style="text-align:center;">Think of your passphrase/recovery phrase as keys which unlock your wallet. The backup is the actual wallet.</p><br>
<p style="text-align:center;">Keep your backup in a safe place away from your passphrase and recovery phrase. We suggest printing it out.</p><br>
	<div>
	<button class="btn btn-danger btnbig" type="button" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doGenerateBackup();})">Create a Backup Now</button>
	</div>
    </center>
</div>
