<div id="tabbackup2" class="screentab" data-primarytab="false" hasback="true" data-title="Encrypted Backup" style="display: none;">
    <div class="divbackuprompt">
        <h3 style="color:black; text-align:center;">The data below is your encrypted wallet backup</h3>
        <p style="color:black;">You should make a new backup whenever you add a new account to your wallet, change your passphrase or change your pin. Toast Wallet will prompt you when a new backup is required.</p>
    	<center>
		    <button  id="btncopywallet" data-clipboard-target="#walletbackup" ontouchstart="ts(event)" ontouchend="te(event, ()=>{clipboardCopy($('#walletbackup').val())})" type="button" class="btn btn-primary copybtnaction btnbig">Copy</button>
	    </center>
    	<label>Your backup</label>
	    <textarea oninput="$(this).val($(this).data('content'));" style="color:black;" id="walletbackup"></textarea>
    </div>
</div>
