<div id="tabcancelorderconfirm" class="screentab" data-primarytab="false" data-hasback="true" data-title="Confirm Cancel Order" style="display: none;">
	<div class="paygrouping">
    <label>Account</label>
	<div id="confirmcancelorderaccount"></div>
    </div>
	<div class="paygrouping">
    <label>Order</label>
	<div id="confirmcancelorderpreview"></div>
    </div>
    <div class="paygrouping">
    <label>Sequence Number</label>
    <div id="confirmcancelordersequence"></div>
    </div>
    <br>
    <label>Passphrase</label>    
	<span class="pasteqr">
        <button class="btn btn-default " ontouchstart="ts(event)" type="button" ontouchend="te(event, ()=>{clipboardPaste((content)=>{ doConfirmCancelOrder(content)})})"><i class="fa fa-paste"></i></button>
        <button class="btn btn-default " ontouchstart="ts(event)" ontouchend="te(event, ()=>{scanQR((content, after) => { doConfirmCancelOrder(content)})})" type="button"><i class="fa fa-camera"></i></button>
        <button class="btn btn-default" id="confirmcancelorderpasswordeyebtn" ontouchend="te(event, ()=>{toggleShowPassField('#confirmcancelorderpassword', '#confirmcancelorderpasswordeyebtn')})" type="button" onclick="ts(event)"><i class="fa fa-eye"></i></button>
    </span>
    <input ontouchend="te(event, quickSelectInput)"  type="password" id="confirmcancelorderpassword" class="form-control" placeholder="">
    <br>
	<center><div><button  type="button" class="btn btn-success btnbig" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doConfirmCancelOrder($('#confirmcancelorderpassword').val());})">Confirm Cancel Order</button></div></center>
</div>
