<div id="tabdonate" class="screentab" data-primarytab="false" data-hasback="true" data-dark="true" data-noright="true" data-title="Support Toast Wallet">
   <center>
    <h1>Toast Wallet</h1>
	<center>
<p style="text-align:center;">We rely on your contributions to keep Toast Wallet free and running smoothly.</p>
<p style="text-align:center;">Please consider supporting us:</p><br>
	<br>
	<div>
		<button class="btn btn-primary btnbig" type="button" id="btndonatecustom" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPopulateDonation('')})">Donate Custom Amount</button><br>
		<button class="btn btn-success btnbig" type="button" id="btndonate20" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPopulateDonation($('#btndonate20').data('amount'))})">Donate $20</button><br>
<button class="btn btn-info btnbig" type="button" id="btndonate10" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPopulateDonation($('#btndonate10').data('amount'))})">Donate $10</button><br>
<button class="btn btn-warning btnbig" type="button" id="btndonate5" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPopulateDonation($('#btndonate5').data('amount'))})">Donate $5</button><br>
<button class="btn btn-danger btnbig" type="button" id="btndonate0" ontouchstart="ts(event)" ontouchend="te(event, ()=>{showTab('#tabaccounts');})">Not at this time</button><br>
	</div>
	<br>
	
</center>
    <p></p></center></div>
