<div id="tabpinset2" class="screentab" data-primarytab="false" data-hasback="true"  data-dark="2" data-noright="true" data-title="Repeat New PIN" style="display: none;">
    
	<center>
	<div class="pinpad" style="">
	    <div class="pinnumber">
	    <i class="far fa-circle" aria-hidden="true"></i>&nbsp;
		<i class="far fa-circle" aria-hidden="true"></i>&nbsp;
		<i class="far fa-circle" aria-hidden="true"></i>&nbsp;
		<i class="far fa-circle" aria-hidden="true"></i>&nbsp;
		<i class="far fa-circle" aria-hidden="true"></i>&nbsp;
		<i class="far fa-circle" aria-hidden="true"></i>&nbsp;
	</div>
	<br>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('1'); return false;})"><div>1</div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('2'); return false;})"><div>2<i class="char">abc</i></div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('3'); return false;})"><div>3<i class="char">def</i></div></button><br>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('4'); return false;})"><div>4<i class="char">ghi</i></div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('5'); return false;})"><div>5<i class="char">jkl</i></div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('6'); return false;})"><div>6<i class="char">mno</i></div></button><br>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('7'); return false;})"><div>7<i class="char">prqs</i></div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('8'); return false;})"><div>8<i class="char">tuv</i></div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('9'); return false;})"><div>9<i class="char">wxyz</i></div></button><br>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{showTab(-1); return false;})"><div><i class="fa fa-times" aria-hidden="true"></i></div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad('0'); return false;})"><div>0</div></button>
	<button  class="btnpinnumber" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doPinPad(''); return false;})"><i class="fas fa-backspace" aria-hidden="true"></i></button>
	</div>
	</center>
    
</div>
