<div id="tabshowrecovery" class="screentab" data-title="Your Recovery Phrase" data-primarytab="true" data-hasback="false" data-noright="true" style="display: none;">
    <h1 style="color:red; text-align:center;">IMPORTANT!!!</h1>
<div><p style="color:black; font-weight:bold; text-align:justify;">Your six(6) word recovery phrase appears below. <u style="color:red;">Write it down on paper</u> and store it in a safe location. If you ever forget your passphrase this code will be the <u style="
    color:red;
    ">only way for you to regain access to your XRP.</u>&nbsp;
    Never share your recovery phrase with anyone.</p></div>
<div><p style="color:black; text-align:justify; font-weight:bold;">This recovery phrase is <u style="color:red">useless without a backup</u>. Please make a backup using the settings menu <u style="color:red">after</u> you finish adding or generating <u style="color:red">all</u> of your addresses. Toast Wallet backups are <u style="color:red">data backups</u>, this means you will <u style="color:red">only have access to the addresses you had in your wallet at the time you made the backup!</u></p></div>
<div id="showrecoveryphrase">
</div><br>
<p style="color:black;">
<span class="toggleswitch" id="tglsw1"><i class="fa fa-toggle-off" aria-hidden="true"></i></span>
I sincerely promise I've written my recovery phrase down.</p><br>
<p style="color:black;">
<span class="toggleswitch" id="tglsw2"><i class="fa fa-toggle-off" aria-hidden="true"></i></span>
I understand that the recovery phrase IS NOT A WALLET BACKUP.</p><br>
<center><button  class="btn btn-success btnbig" id="btnfinishedsetup" type="button" ontouchstart="ts(event)" ontouchend="te(event, ()=>{doFinishSetup();})">Finish Setup</button></center>
</div>
